<!DOCTYPE html>
<html>
<head>
  <title>SocialEvents</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render :partial => '/layouts/main_header' %>
<div id="main-content">
<%= flash[:notice] %>
<%= flash[:alert] %>
<%= yield %>
</div>
</body>
</html>
