<!DOCTYPE html>
<html>
<head>
  <title>SocialEvents</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render :partial => '/layouts/main_header' %>
<h2><%= content_for :header %></h2>
<div id="main-content">
<% if flash[:notice] %><div id="notice"><%= flash[:notice] %></div><% end %>
<% if flash[:alert] %><div id="alert"><%= flash[:alert] %></div><% end %>
<%= yield %>
</div>
</body>
</html>
